*{
    margin: 0;
    padding: 0;
    line-height: 1;
    vertical-align: bottom;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('~@/static/images/bg2.jpg') no-repeat center bottom fixed;
    background-size: cover;
    font-size: 14px;
}

.main{
    width: 280px;
    height: 230px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50%;
    margin-top: 150px; 
    padding: 30px;
}

form{
    width: 280px;
    height: auto;
}
.inp1,.inp2{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 250px;
    padding: 0 15px;
    border: 1px solid #CCC;
    border-radius: 6px;
}


.d1{
    margin-top: 10px;
    width: 280px;
    height: 42px;
}

.inp3{
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 170px;
    padding: 0 15px;
    border: 1px solid #CCC;
    border-radius: 6px;
}

.d2{
    float: right;
    height: 40px;
    width: 70px;
    cursor: pointer;
    position: relative;
    background-color: rgb(210, 228, 210);
    border-radius: 6px;
}

button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-color: #ffffff;
}